extends templates/template
block main
	h1 Lightbox gallerys
	- var n = 1
	.gallery-container#gallery-container
		while n <= 12
			.gallery-item
				img(src="img/gallery-"+ n + "-thumb.jpg" alt="Descripcion de la imagen " + n).gallery-img
			-n++
	script(src='js/lightbox.js')